  <html>
  <head>
    <title>Thank You!</title>
  </head>
  <body>
    <h1>Thanks <%= attendee_info[:first_name] %>!</h1>
    <p>Thanks for coming to our conference.  We couldn't have done it without you!</p>

    <p>
      Political activism is at the heart of any democracy and your voice needs to be heard.
      Please consider reaching out to your following representatives:
    </p>

    <table>
      <% if officials_info.kind_of?(Array) %>
        <tr><th>Name</th><th>Website</th></tr>
        <% officials_info.each do |official| %>
          <tr>
            <td>
              <% next if official.name.nil? %>
              <%= official.name if official.name.nil? == false %>
            </td>
            <td>
              <%= 'N/A' if official.urls.nil? %>
              <%= official.urls.first if official.urls.nil? == false %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <%= 'You can find your representatives by visiting www.commoncause.org/take-action/find-elected-officials' %>
      <% end %>
    </table>
  </body>
  </html>
